<h1>HackNY Floorplan</h1>

<img id="map" src="/images/map1.png" height="294px" width="800px" />

<div id="container">

<div id="info_cont">
<div id="info">
</div>
</div>

<div id="add">
<div id="add_close" class="close"></div>
<h3>Add your group to the map!</h3>
<form id="add_form">
<label for="group_name">Group:</label> 
<input id="group_name" name="group_name"/> <br/>
<label for="group_mems">Conspirators:</label>
<input id="group_mems" name="group_mems"/> <br/>
<label for="group_idea">Project:</label> 
<textarea id="group_idea" name="group_idea"></textarea><br/>
<label for="group_cont">Contact:</label> 
<input id="group_cont" name="group_cont" /><br/>
<input id="submit_group" type="submit" />
</form>
</div>

</div>

<div id="markers">
</div>

<div id="backdrop">
</div>

<div id="about">
<h2>About</h2>
<p>This is a map for people to pin the location of their projects. It's a bit late, since it would've been most effective when people were still unsure what they were working on, but oh well.</p>
<p>Fill out your info, and doubleclick where your group is working. To help you orient yourself:</p>
<ul>
<li>Blue: windows</li>
<li>Orange: elevators</li>
<li>Green: food table</li>
<li>Random squares: rough outlines of masses of people</li>
</ul>
</div>
